/* VARIABLES*/
:root {
  --bbva-header-blue: #06428E;
  --bbva-aside-dark: #072146;
  --bbva-active-blue: #125499;
  --bbva-accent-cyan: #0076d1;
  --bbva-bg-main: #f4f6fb;
  --bbva-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* CONTENEDOR RAÍZ */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* SIDEBAR */
bbva-menu {
  display: block;
  width: 260px;
  background-color: var(--bbva-aside-dark);
  height: 100%;
}

.sidebar button {
  width: 100%;
  padding: 1.2rem 1.5rem;
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  border-left: 6px solid transparent;
}

.sidebar button.active {
  background-color: var(--bbva-active-blue);
  border-left: 6px solid var(--bbva-accent-cyan);
}


bbva-content {
  flex: 1;
  background-color: var(--bbva-bg-main);
  display: block;
  height: 100%;
  overflow-y: auto; 
}

.content {
  padding: 2.5rem;
  width: 100%;
}

/* ANIMACIONES */
agregar-usuario, mostrar-usuarios, borrar-usuario {
  display: block;
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}